<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'PERFECT_DRAW.Card.name'}}"
        />
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.type"}}</label>
      <select name="system.type">
        <option value="Warrior" {{#if (eq system.type "Warrior")}}selected{{/if}}>{{localize "PERFECT_DRAW.Card.typeOptions.Warrior"}}</option>
        <option value="Item" {{#if (eq system.type "Item")}}selected{{/if}}>{{localize "PERFECT_DRAW.Card.typeOptions.Item"}}</option>
        <option value="Invocation" {{#if (eq system.type "Invocation")}}selected{{/if}}>{{localize "PERFECT_DRAW.Card.typeOptions.Invocation"}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.strength"}}</label>
      <input type="text" name="system.strength" value="{{system.strength}}" placeholder="{{localize 'PERFECT_DRAW.Card.strength'}}" />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.is_ace"}}</label>
      <input type="checkbox" name="system.is_ace" {{checked system.is_ace}} />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.keywords.label"}}</label>
      <ul>
        {{#each system.keywords}}
          <li>
            <input type="text" name="system.keywords.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Card.keywords.item'}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.effect_text"}}</label>
      {{editor
        system.effect_text
        target="system.effect_text"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.weakness_text"}}</label>
      {{editor
        system.weakness_text
        target="system.weakness_text"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.type_attributes.label"}}</label>
      <ul>
        {{#each system.type_attributes}}
          <li>
            <input type="text" name="system.type_attributes.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Card.type_attributes.item'}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.ribbon_effect_text"}}</label>
      {{editor
        system.ribbon_effect_text
        target="system.ribbon_effect_text"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.ep_cost"}}</label>
      <input type="number" name="system.ep_cost" value="{{system.ep_cost}}" placeholder="{{localize 'PERFECT_DRAW.Card.ep_cost'}}" />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.base_ep"}}</label>
      <input type="number" name="system.base_ep" value="{{system.base_ep}}" placeholder="{{localize 'PERFECT_DRAW.Card.base_ep'}}" />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.source_playbook_id"}}</label>
      <input type="text" name="system.source_playbook_id" value="{{system.source_playbook_id}}" placeholder="{{localize 'PERFECT_DRAW.Card.source_playbook_id'}}" />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.mini_deck_name"}}</label>
      <input type="text" name="system.mini_deck_name" value="{{system.mini_deck_name}}" placeholder="{{localize 'PERFECT_DRAW.Card.mini_deck_name'}}" />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Card.retheme_description"}}</label>
      {{editor
        system.retheme_description
        target="system.retheme_description"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>