<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'PERFECT_DRAW.Keyword.name'}}"
        />
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.category"}}</label>
      <select name="system.category">
        <option value="Core" {{#if (eq system.category "Core")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.categoryOptions.Core"}}</option>
        <option value="Special" {{#if (eq system.category "Special")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.categoryOptions.Special"}}</option>
        <option value="Booster Pack" {{#if (eq system.category "Booster Pack")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.categoryOptions.BoosterPack"}}</option>
        <option value="Custom" {{#if (eq system.category "Custom")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.categoryOptions.Custom"}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.source_book"}}</label>
      <select name="system.source_book">
        <option value="Core Book" {{#if (eq system.source_book "Core Book")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.sourceBookOptions.CoreBook"}}</option>
        <option value="Booster Pack" {{#if (eq system.source_book "Booster Pack")}}selected{{/if}}>{{localize "PERFECT_DRAW.Keyword.sourceBookOptions.BoosterPack"}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.description"}}</label>
      {{editor
        enrichedDescription
        target="system.description"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.detailed_rules"}}</label>
      {{editor
        system.detailed_rules
        target="system.detailed_rules"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.custom_card_costing_guidance"}}</label>
      {{editor
        system.custom_card_costing_guidance
        target="system.custom_card_costing_guidance"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Keyword.notes_for_judge"}}</label>
      {{editor
        system.notes_for_judge
        target="system.notes_for_judge"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>