<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder=" "
        />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "PERFECT_DRAW.Staple.name"}}</a>
    <a class="item" data-tab="attributes">{{localize "PERFECT_DRAW.Staple.type"}}</a>
  </nav>

  <section class="sheet-body">
  <div class="tab" data-group="primary" data-tab="description">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.description"}}</label>
        {{editor
          system.description
          target="system.description"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.type"}}</label>
        <select name="system.type">
          <option value="Generic" {{#if (eq system.type "Generic")}}selected{{/if}}>{{localize "PERFECT_DRAW.Staple.typeOptions.Generic"}}</option>
          <option value="Playbook" {{#if (eq system.type "Playbook")}}selected{{/if}}>{{localize "PERFECT_DRAW.Staple.typeOptions.Playbook"}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.source_playbook_id"}}</label>
        <input
          type="text"
          name="system.source_playbook_id"
          value="{{system.source_playbook_id}}"
          placeholder="{{localize 'PERFECT_DRAW.Staple.source_playbook_id'}}"
        />
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.keywords.label"}}</label>
        <ul>
          {{#each system.keywords}}
            <li>
              <input type="text" name="system.keywords.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Staple.keywords.item'}}" />
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.limitations.label"}}</label>
        <ul>
          {{#each system.limitations}}
            <li>
              <input type="text" name="system.limitations.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Staple.limitations.item'}}" />
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Staple.energy_cost_equivalent"}}</label>
        <input
          type="number"
          name="system.energy_cost_equivalent"
          value="{{system.energy_cost_equivalent}}"
          placeholder="{{localize 'PERFECT_DRAW.Staple.energy_cost_equivalent'}}"
        />
      </div>
    </div>
  </section>
</form>