<form class="{{cssClass}} perfectdraw-move-sheet" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'PERFECT_DRAW.Move.name'}}"
        />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "PERFECT_DRAW.Move.description"}}</a>
    <a class="item" data-tab="attributes">{{localize "PERFECT_DRAW.Move.type"}}</a>
    <a class="item" data-tab="outcomes">{{localize "PERFECT_DRAW.Move.outcomes.label"}}</a>
    <a class="item" data-tab="notes">{{localize "PERFECT_DRAW.Move.notes"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.description"}}</label>
        {{editor
          system.description
          target="system.description"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.type"}}</label>
        <select name="system.type">
          <option value="general-player" {{#if (eq system.type "general-player")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.general-player"}}</option>
          <option value="card-combat-player" {{#if (eq system.type "card-combat-player")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.card-combat-player"}}</option>
          <option value="npc-establish-plan" {{#if (eq system.type "npc-establish-plan")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.npc-establish-plan"}}</option>
          <option value="npc-power-card" {{#if (eq system.type "npc-power-card")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.npc-power-card"}}</option>
          <option value="npc-simple-card" {{#if (eq system.type "npc-simple-card")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.npc-simple-card"}}</option>
          <option value="npc-response" {{#if (eq system.type "npc-response")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.npc-response"}}</option>
          <option value="npc-threat" {{#if (eq system.type "npc-threat")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.typeOptions.npc-threat"}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.card_game_only"}}</label>
        <input type="checkbox" name="system.card_game_only" {{checked system.card_game_only}} />
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.roll_stat"}}</label>
        <select name="system.roll_stat">
          <option value="Passion" {{#if (eq system.roll_stat "Passion")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.rollStatOptions.Passion"}}</option>
          <option value="Skill" {{#if (eq system.roll_stat "Skill")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.rollStatOptions.Skill"}}</option>
          <option value="Friendship" {{#if (eq system.roll_stat "Friendship")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.rollStatOptions.Friendship"}}</option>
          <option value="Tension" {{#if (eq system.roll_stat "Tension")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.rollStatOptions.Tension"}}</option>
          <option value="None" {{#if (eq system.roll_stat "None")}}selected{{/if}}>{{localize "PERFECT_DRAW.Move.rollStatOptions.None"}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.specific_effects"}}</label>
        {{editor
          system.specific_effects
          target="system.specific_effects"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.card_details.label"}}</label>
        <input type="text" name="system.card_details.type" value="{{system.card_details.type}}" placeholder="{{localize 'PERFECT_DRAW.Move.card_details.type'}}" />
        <input type="text" name="system.card_details.features" value="{{system.card_details.features}}" placeholder="{{localize 'PERFECT_DRAW.Move.card_details.features'}}" />
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.associated_abilities.label"}}</label>
        <ul>
          {{#each system.associated_abilities}}
            <li>
              <input type="text" name="system.associated_abilities.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Move.associated_abilities.item'}}" />
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.usage_limits"}}</label>
        {{editor
          system.usage_limits
          target="system.usage_limits"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.gimmick_association"}}</label>
        <input type="text" name="system.gimmick_association" value="{{system.gimmick_association}}" />
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="outcomes">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.outcomes.10plus"}}</label>
        {{editor
          system.outcomes.high
          target="system.outcomes.high"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.outcomes.7_9"}}</label>
        {{editor
          system.outcomes.mid
          target="system.outcomes.mid"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.outcomes.6minus"}}</label>
        {{editor
          system.outcomes.low
          target="system.outcomes.low"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
    </div>

    <div class="tab" data-group="primary" data-tab="notes">
      <div class="form-group">
        <label>{{localize "PERFECT_DRAW.Move.notes"}}</label>
        {{editor
          system.notes
          target="system.notes"
          engine="prosemirror"
          button=true
          editable=editable
        }}
      </div>
    </div>
  </section>
</form>