<form class="{{cssClass}} perfectdraw-baggage-sheet" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'PERFECT_DRAW.Baggage.character_id'}}"
        />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="main">{{localize "PERFECT_DRAW.Baggage.description"}}</a>
    <a class="item" data-tab="notes">{{localize "PERFECT_DRAW.Baggage.notes"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="main">
      <div class="form-group">
        <label class="baggage-label">{{localize "PERFECT_DRAW.Baggage.description"}}</label>
        <div class="baggage-editor">
          {{editor
            enrichedDescription
            target="system.description"
            engine="prosemirror"
            button=true
            editable=editable
          }}
        </div>
      </div>
      <div class="form-group">
        <label class="baggage-label">{{localize "PERFECT_DRAW.Baggage.is_serious"}}</label>
        <input
          class="baggage-checkbox"
          type="checkbox"
          name="system.is_serious"
          {{checked system.is_serious}}
        />
      </div>
      <div class="form-group">
        <label class="baggage-label">{{localize "PERFECT_DRAW.Baggage.gain_source"}}</label>
        <input
          class="baggage-input"
          type="text"
          name="system.gain_source"
          value="{{system.gain_source}}"
          placeholder="{{localize 'PERFECT_DRAW.Baggage.gain_source'}}"
        />
      </div>
    </div>
    <div class="tab" data-group="primary" data-tab="notes">
      <div class="form-group">
        <label class="baggage-label">{{localize "PERFECT_DRAW.Baggage.notes"}}</label>
        <div class="baggage-editor">
          {{editor
            system.notes
            target="system.notes"
            engine="prosemirror"
            button=true
            editable=editable
          }}
        </div>
      </div>
    </div>
  </section>
</form>