<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
    />
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="{{localize 'PERFECT_DRAW.Ability.name'}}"
        />
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.playbook_origin"}}</label>
      <input
        type="text"
        name="system.playbook_origin"
        value="{{system.playbook_origin}}"
        placeholder="{{localize 'PERFECT_DRAW.Ability.playbook_origin'}}"
      />
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.selection_type"}}</label>
      <select name="system.selection_type">
        <option value="selectable" {{#if (eq system.selection_type "selectable")}}selected{{/if}}>{{localize "PERFECT_DRAW.Ability.selectionTypeOptions.selectable"}}</option>
        <option value="starting" {{#if (eq system.selection_type "starting")}}selected{{/if}}>{{localize "PERFECT_DRAW.Ability.selectionTypeOptions.starting"}}</option>
        <option value="crew-unique" {{#if (eq system.selection_type "crew-unique")}}selected{{/if}}>{{localize "PERFECT_DRAW.Ability.selectionTypeOptions.crew-unique"}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.requirements.label"}}</label>
      <ul>
        {{#each system.requirements}}
          <li>
            <input type="text" name="system.requirements.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Ability.requirements.item'}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.tags.label"}}</label>
      <ul>
        {{#each system.tags}}
          <li>
            <input type="text" name="system.tags.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Ability.tags.item'}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.linked_options.label"}}</label>
      <ul>
        {{#each system.linked_options}}
          <li>
            <input type="text" name="system.linked_options.{{@index}}" value="{{this}}" placeholder="{{localize 'PERFECT_DRAW.Ability.linked_options.item'}}" />
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="form-group">
      <label>{{localize "PERFECT_DRAW.Ability.notes"}}</label>
      {{editor
        system.notes
        target="system.notes"
        engine="prosemirror"
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>